@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  transition-property: opacity, background, transform, filter;
  transition-timing-function:ease-in-out;
  transition-duration: 500ms;
}

.page-transition{
  opacity:0;
  background: black;
  transform: translateY(80px);
  filter: blur(12px)
}

.sidebar-transition{
  width:100vw;
}
.sidebar{
  transition-property: width background-color;
  transition-timing-function:ease-in-out;
  transition-duration: 500ms;
}